body {
    height: 100%;
    overflow: hidden;
    color: #888;
}
.indent {
    text-indent: 3em;
}
.error-msg {
    color: #ff5500;
    padding-left: 10px;
    padding-top: 10px;
}
.am-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height:auto;
}
.fixd-header .am-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
.page-content {
    padding: 45px 5px;
}
.am-button-primary {
    background-color: #64b28b;
    border: 1px solid #64b28b;
}
.am-list-item .am-input-label {
    color: #888;
}
.am-navbar {
    background-color: #64b28b;
}
.am-list-header {
    padding: 55px 15px 9px 15px;
}

#chat-page {
    overflow-y: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
}
#chat-page .chat-me .am-list-extra{
    flex-basis:auto;
}
#chat-page .chat-me .am-list-content{
    padding-right: 15px;
    text-align: right;
}
#chat-page .am-grid-icon{
    display: none;
}
#chat-page .am-grid-text{
    margin-top: 0;
}
.am-modal-button-group-h .am-modal-button {
    color: #64b28b;
}
.am-radio.am-radio-checked .am-radio-inner:after {
    display: block;
    border-color: #64b28b;
}
.stick-footer{
    z-index:10;
    position: fixed;
    bottom: 0;
    width:100%;
}
.am-tab-bar-bar .am-tab-bar-tab-image {
    width: 28px;
    height: 28px;
}


.chat-box {
    margin: 10px 10px;
    position: relative;
    overflow: hidden;
}
.chat-box.myself {
    text-align: right;
}
.chat-box .avatar {
    float: left;
    margin: 0 10px 0 0;
    border-radius: 3px;
}
.chat-box.myself .avatar {
    float: right;
    margin: 0 0 0 10px;
}
.chat-box .text {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    max-width: calc(100% - 100px);
    min-height: 30px;
    line-height: 2.5;
    font-size: 9pt;
    text-align: left;
    word-break: break-all;
    background-color: #fafafa;
    border-radius: 4px;
}
.chat-box.myself .text {
    color: #fff;
    background-color: #64b28b;
}
.chat-box .text:before {
    content: " ";
    position: absolute;
    top: 9px;
    right: 100%;
    border: 6px solid transparent;
    border-right-color: #fafafa;
}
.chat-box.myself .text:before {
    right: inherit;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #64b28b;
}